includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 8
    paths:
        - config
        - src
        - tests
    ignoreErrors:
        - '#Parameter \#1 \$numberWithoutIDDCode of class Zing\\LaravelSms\\SmsNumber constructor expects int, string given.#'
        - '#Parameter \#1 \$numberWithoutIDDCode of class Overtrue\\EasySms\\PhoneNumber constructor expects int, string given.#'
        - '#Cannot call method (.*?)\(\) on Illuminate\\(.*?)Testing\\PendingCommand\|int.#'
        - '#(.*?)Laravel\\Lumen\\Application(.*?)#'
        - '#Unable to resolve the template type TMock in call to method static method Mockery::mock\(\)#'
        - '#Parameter \#1 ...\$args of static method Mockery::mock\(\) expects array|class-string<(.*?)], string given.#'
